DATABASE_URL="postgresql://postgres:postgres@localhost:5432/task_planner"
NOTION_API_KEY="ntn_EM7208036812dF2lrE7a5WCfFars2SFjvjY7wW4rTT690r"
NOTION_PROFILE_DATABASE_ID="https://www.notion.so/Task-Planner-OS-6a288d40c0194835bc1d11fc6a33fb07?source=copy_link"
OPENAI_API_KEY="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"
OPENAI_MODEL="gpt-4.1-mini"
APP_TIMEZONE="Europe/Istanbul"
